<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <h2 style="text-align:center"> Create</h2>
    <center><a href="{% url 'home' %}">Return home</a></center>
    <h1></h1>
    <center><a href="{% url 'create_locmunca' %}">Adauga un nou loc de munca.</a></center>
    <center><a href="{% url 'create_angajat' %}">Adauga un nou angajat.</a></center>
    <center><a href="{% url 'create_client' %}">Adauga un nou client.</a></center>
    <center><a href="{% url 'create_model' %}">Adauga un nou model de masina.</a></center>
    <center><a href="{% url 'create_piesa' %}">Adauga o noua piesa.</a></center>
    <center><a href="{% url 'create_piesamodel' %}">Adauga o noua legatura piesa model.</a></center>
    <center><a href="{% url 'create_masina' %}">Adauga o noua masina.</a></center>
    <center><a href="{% url 'create_comanda' %}">Adauga o noua comanda.</a></center>
    <center><a href="{% url 'create_comandapiesa' %}">Adauga o noua Legatura intre Piese si Comenzi.</a></center>
</body>

</html>