{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Angajat</title>

    <link type='text/css' href="{% static './css/main.87c0748b313a1dda75f5.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type='text/css' href="{% static './css/main.css' %}" rel="stylesheet">
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Adauga un Angajat</h2>
                                <p class="text-white-50 mb-5">Adauga un Angajat nou!</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="container mb-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-outline form-white mb-4">
                                                    {{ form.nume_familie }}
                                                    <label class="form-label" for="typeEmailX">Numele de Familie</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline form-white mb-4">
                                                    {{ form.prenume }}
                                                    <label class="form-label" for="typeEmailX">Prenume</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        {{ form.salariu }}
                                        <label class="form-label" for="typePasswordX">Salariu</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        {{ form.email }}
                                        <label class="form-label" for="typePasswordX">Email</label>
                                    </div>
                                    <div class="container mb-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-outline form-white mb-4">
                                                    {{ form.data_angajare }}
                                                    <label class="form-label" for="typePasswordX">Data Angajarii</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline form-white mb-4">
                                                    {{ form.data_nasterii }}
                                                    <label class="form-label" for="typePasswordX">Data Nasterii</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-outline form-white mb-4">
                                        {{ form.loc_munca }}
                                        <label class="form-label" for="typePasswordX">Locul de munca</label>
                                    </div>
                                    <div class="divider row"></div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Adauga</button>
                                </form>
                            </div>
                            <div>
                                <p class="mb-0">Daca nu vrei sa adugi un angajat, atunci apasa <a
                                        href="{% url 'home' %}" class="text-white-50 fw-bold">aici</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
    {% if msg.tags == "error" %}
    icn = "error"
    {% else %}
    icn = "success"
    {% endif %}
    swal({
        title: "{{ msg }}",
        text: "",
        icon: icn,
        button: "Inchide!",
    });
    {% endfor %}
</script>

<!-- <script type="text/javascript" src="{% static './js/vendors/datepicker.js' %}"></script>
<script src="{% static './js/vendors/daterangepicker.js' %}"></script>
<script src="{% static './js/vendors/moment.js' %}"></script>
<script src="{% static './js/scripts-init/datepicker.js' %}"></script> -->

</html>