<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h2 style="text-align:center"> Ce doresti sa faci?</h2>
    <center><a href="{% url 'create' %}">Adauga informatii noi in baza de date.</a></center>
    <center><a href="{% url 'search' %}">Vizualizeaza tabelele.</a></center>
    <center><a href="{% url 'pct_c' %}">Vizualizeaza rezolvarea cerintei c de la punctul 3.</a></center>
</body>

</html>