{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type='text/css' href="{% static './css/main.css' %}" rel="stylesheet">
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <!-- <div class="col-12 col-md-8 col-lg-6 col-xl-5"> -->
                <div class="card bg-dark text-white" style="border-radius: 1rem; width: 60rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Ce doresti sa faci?</h2>
                            <div class="container mb-4">
                                <a class="btn btn-warning btn-lg btn-block mb-4" href="{% url 'create' %}">Adauga
                                        informatii noi</a>
                                <a class="btn btn-warning btn-lg btn-block mb-4"
                                        href="{% url 'search' %}">Vizualizeaza tabelele</a>
                                <a class="btn btn-warning btn-lg btn-block mb-4" href="{% url 'pct_c' %}">Rezolvarea
                                        cerintei c), pct III</a>
                                <a class="btn btn-warning btn-lg btn-block mb-4" href="{% url 'pct_d' %}">Rezolvarea
                                        cerintei d) de la punctul III</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>
</body>

</html>